{% extends 'jewelstreetBundle::layout.html.twig' %}
{% block title %}Welcome! Jewel Store{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h1>Admin</h1>
            <table class="table">
                <thead>
                <tr>

                    <th>Quantiry sold in Gms</th>
                    <th>Time spent</th>
                    <th>Username</th>
                    <th>price in USD</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in reports %}
                    <tr>
                        {% for k,v in value %}
                            <td>
                                {{ v }}
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
