{% extends 'jewelstreetBundle::layout.html.twig' %}
{% block title %}Welcome! Jewel Store{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h1 class="text-center">Welcome !! {{ username }}</h1>
            <hr>
            <p class="bg-info text-center text-muted">Total quantity sold in <span
                        class="lead fa fa-calendar">{{ date()|date('F') }}</span> is <span
                        class="lead fa fa-money text-success">{{ montlysoldamount }}</span> USD
                , {{ montlysoldgms.total }} gms</p>
            <form action="{{ path('entry_index') }}" method="post">
                {% if entry.clockin is null or entry.clockin is empty %}
                    <input type="hidden" value="clockin" name="entry">
                    <input type="submit" class="btn btn-block btn-lg btn-success" value="Clockin Now"/>
                {% else %}
                    <hr>

                    {% if entry.clockout is null or entry.clockout is empty %}
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <h3>Enter Quantity</h3>
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                            <button class="btn  btn-success" data-dir="dwn"><span
                                                        class="glyphicon glyphicon-minus"></span></button>
                                        </span>
                                        <input type="text" class="form-control text-center" name="quantity" value="1">
                                        <span class="input-group-btn">
                                            <button class="btn  btn-success" data-dir="up"><span
                                                        class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="clockout" name="entry">
                        <input type="submit" class="btn btn-block btn-lg  btn-warning"
                               value="Clockout Now"/>
                        <hr>
                    {% else %}
                        <div class="container">
                        <div class="row text-center">
                        <div class="col-xs-4 col-xs-offset-4">
                        Clockin at <h3>{{ entry.clockin|date() }} </h3>
                        Clockout at <h3>{{ entry.clockout|date() }} </h3>
                        Quantity sold today <h3>{{ entry.quantity }} </h3>
                    {% endif %}
                    </div>
                    </div>
                    </div>
                    <br>
                    <br>
                {% endif %}
                {#{% endif %}#}

            </form>

        </div>
    </div>
    <script>
        jQuery(document).on('click', '.number-spinner button', function (e) {
            e.preventDefault();
            var btn = $(this),
                    oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                    newVal = 0;

            if (btn.attr('data-dir') == 'up') {
                newVal = parseInt(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    newVal = parseInt(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            btn.closest('.number-spinner').find('input').val(newVal);
        });
    </script>
{% endblock %}
