<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {#{% block stylesheets %}{% endblock %}#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/jewelstreet/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/jewelstreet/css/bootstrap.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/jewelstreet/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/jewelstreet/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>

<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><span class="fa fa-cubes"></span> Jewel street</h1>
                <div class="section">
                    <div class="container">
                        <div class="row text-center">
                            {{ block('fos_user_content') }}
                        </div>
                        {% block body %}{% endblock %}
                        <div class="row">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>