{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal text-left">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group text-left">
            <div class="col-sm-2">
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </div>
            <div class="col-sm-10">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
        <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>
            <div class="col-sm-10">
        <input type="password" id="password" name="_password" required="required"/>
            </div>
        </div>
        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
        {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </form>
{% endblock fos_user_content %}
